.container__head{
	position: absolute;
	left: 5%;
	top: 3%;
	width: 55%;
	height: 15%;
	border: 1px solid red;
}
.container__main{
	position: absolute;
	left: 5%;
	top: 18%;
	width: 55%;
	height: 57%;
	border: 1px solid blue;
}
.container__aside{
	position: absolute;
	right: 3%;
	top: 3%;
	width: calc(40% - 44px);
	height: 90%;
	border: 1px solid green;
}
.container__footer{
	position: absolute;
	left: 5%;
	top: 75%;
	width: 55%;
	height: 18%;
	border: 1px solid yellowgreen;
}
